#!/usr/bin/env bash

# See https://docs.docker.com/compose/environment-variables/#the-env-file

NETWORK_SUBNET=10.5.0.0/24
# Nginx
NGINX_HOST=10.5.0.2
# PHP
PHP_HOST_IP=10.5.0.4

# Check in the Dockerfile
# PHP_VERSION=7.4.26

# Projects Info
PROJECT_DIR=/zero/current_projects/projects
